class apb_master_sequencer extends uvm_sequencer #(apb_xtns);
	`uvm_component_utils(apb_master_sequencer)

	function new(string name="apb_master_sequencer", uvm_component parent = null);
		super.new(name, parent);
	endfunction

        function void build_phase(uvm_phase phase);
		`uvm_info("apb_master_agent","in apb_master_agent build phase",UVM_LOW)
        endfunction


endclass
